<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">This books are late !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1 th:text="'Hi ' + ${firstname} + ' ' + ${lastname}"></h1>
    <h2>This books are late !</h2>
    <table style="border-collapse: collapse">
      <tr>
        <td style="border: 1px solid black;padding: 5px;">Title</td>
        <td style="border: 1px solid black;padding: 5px;">EAN 13</td>
        <td style="border: 1px solid black;padding: 5px;">Loan Date</td>
        <td style="border: 1px solid black;padding: 5px;">Max return date</td>
      </tr>
      <tr>
        <td style="border: 1px solid black;padding: 5px;" th:text="${title}"></td>
        <td style="border: 1px solid black;padding: 5px;" th:text="${ean13}"></td>
        <td style="border: 1px solid black;padding: 5px;" th:text="${loanDate}"></td>
        <td style="border: 1px solid black;padding: 5px;" th:text="${loanPeriod}"></td>
      </tr>
    </table>
</body>
</html>