<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="getbooks">Get All Books</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="getbook">Search one book</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="getusers">Get All Users</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="getuser">Search one user</a></li>
      </ul>
  </div>
</nav>
